<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javatest.dao.OperationLogMapper">

    <resultMap type="com.javatest.po.OperationLog" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="module" column="module" jdbcType="VARCHAR"/>
        <result property="requestDes" column="request_des" jdbcType="VARCHAR"/>
        <result property="methodName" column="method_name" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="requestParam" column="request_param" jdbcType="VARCHAR"/>
        <result property="returnData" column="return_data" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="finishTime" column="finish_time" jdbcType="TIMESTAMP"/>
        <result property="returnTime" column="return_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, user_name, type, module, request_des, method_name, ip, url, request_param, return_data, start_time, finish_time, return_time        
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
          <include refid="Base_Column_List" />
        from studentscore.operation_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryOperationLogList" resultMap="BaseResultMap" parameterType="com.javatest.po.OperationLog">
        select
          <include refid="Base_Column_List" />
        from studentscore.operation_log
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="type != null and type != ''">
                and type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="module != null and module != ''">
                and module = #{module,jdbcType=VARCHAR}
            </if>
            <if test="requestDes != null and requestDes != ''">
                and request_des = #{requestDes,jdbcType=VARCHAR}
            </if>
            <if test="methodName != null and methodName != ''">
                and method_name = #{methodName,jdbcType=VARCHAR}
            </if>
            <if test="ip != null and ip != ''">
                and ip = #{ip,jdbcType=VARCHAR}
            </if>
            <if test="url != null and url != ''">
                and url = #{url,jdbcType=VARCHAR}
            </if>
            <if test="requestParam != null and requestParam != ''">
                and request_param = #{requestParam,jdbcType=VARCHAR}
            </if>
            <if test="returnData != null and returnData != ''">
                and return_data = #{returnData,jdbcType=VARCHAR}
            </if>
            <if test="startTime != null">
                and start_time = #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="finishTime != null">
                and finish_time = #{finishTime,jdbcType=TIMESTAMP}
            </if>
            <if test="returnTime != null">
                and return_time = #{returnTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="id" parameterType="com.javatest.po.OperationLog">
        insert into studentscore.operation_log(user_id, user_name, type, module, request_des, method_name, ip, url, request_param, return_data, start_time, finish_time, return_time)
        values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, #{requestDes,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{requestParam,jdbcType=VARCHAR}, #{returnData,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{returnTime,jdbcType=TIMESTAMP})
    </insert>    
    <insert id="insertSelective" keyProperty="id" parameterType="com.javatest.po.OperationLog">
        insert into studentscore.operation_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">
                user_id,            
            </if>
            <if test="userName != null and userName != ''">
                user_name,            
            </if>
            <if test="type != null and type != ''">
                type,            
            </if>
            <if test="module != null and module != ''">
                module,            
            </if>
            <if test="requestDes != null and requestDes != ''">
                request_des,            
            </if>
            <if test="methodName != null and methodName != ''">
                method_name,            
            </if>
            <if test="ip != null and ip != ''">
                ip,            
            </if>
            <if test="url != null and url != ''">
                url,            
            </if>
            <if test="requestParam != null and requestParam != ''">
                request_param,            
            </if>
            <if test="returnData != null and returnData != ''">
                return_data,            
            </if>
            <if test="startTime != null">
                start_time,            
            </if>
            <if test="finishTime != null">
                finish_time,            
            </if>
            <if test="returnTime != null">
                return_time    
            </if>
        </trim>
        values 
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null and userId != ''">
                #{userId,jdbcType=VARCHAR}, 
            </if>
            <if test="userName != null and userName != ''">
                #{userName,jdbcType=VARCHAR}, 
            </if>
            <if test="type != null and type != ''">
                #{type,jdbcType=VARCHAR}, 
            </if>
            <if test="module != null and module != ''">
                #{module,jdbcType=VARCHAR}, 
            </if>
            <if test="requestDes != null and requestDes != ''">
                #{requestDes,jdbcType=VARCHAR}, 
            </if>
            <if test="methodName != null and methodName != ''">
                #{methodName,jdbcType=VARCHAR}, 
            </if>
            <if test="ip != null and ip != ''">
                #{ip,jdbcType=VARCHAR}, 
            </if>
            <if test="url != null and url != ''">
                #{url,jdbcType=VARCHAR}, 
            </if>
            <if test="requestParam != null and requestParam != ''">
                #{requestParam,jdbcType=VARCHAR}, 
            </if>
            <if test="returnData != null and returnData != ''">
                #{returnData,jdbcType=VARCHAR}, 
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP}, 
            </if>
            <if test="finishTime != null">
                #{finishTime,jdbcType=TIMESTAMP}, 
            </if>
            <if test="returnTime != null">
                #{returnTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.javatest.po.OperationLog">
        update studentscore.operation_log
        set 
        user_id = #{userId,jdbcType=VARCHAR},            
            user_name = #{userName,jdbcType=VARCHAR},            
            type = #{type,jdbcType=VARCHAR},            
            module = #{module,jdbcType=VARCHAR},            
            request_des = #{requestDes,jdbcType=VARCHAR},            
            method_name = #{methodName,jdbcType=VARCHAR},            
            ip = #{ip,jdbcType=VARCHAR},            
            url = #{url,jdbcType=VARCHAR},            
            request_param = #{requestParam,jdbcType=VARCHAR},            
            return_data = #{returnData,jdbcType=VARCHAR},            
            start_time = #{startTime,jdbcType=TIMESTAMP},            
            finish_time = #{finishTime,jdbcType=TIMESTAMP},            
            return_time = #{returnTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.javatest.po.OperationLog">
        update studentscore.operation_log
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId,jdbcType=VARCHAR},            
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR},            
            </if>
            <if test="type != null and type != ''">
                type = #{type,jdbcType=VARCHAR},            
            </if>
            <if test="module != null and module != ''">
                module = #{module,jdbcType=VARCHAR},            
            </if>
            <if test="requestDes != null and requestDes != ''">
                request_des = #{requestDes,jdbcType=VARCHAR},            
            </if>
            <if test="methodName != null and methodName != ''">
                method_name = #{methodName,jdbcType=VARCHAR},            
            </if>
            <if test="ip != null and ip != ''">
                ip = #{ip,jdbcType=VARCHAR},            
            </if>
            <if test="url != null and url != ''">
                url = #{url,jdbcType=VARCHAR},            
            </if>
            <if test="requestParam != null and requestParam != ''">
                request_param = #{requestParam,jdbcType=VARCHAR},            
            </if>
            <if test="returnData != null and returnData != ''">
                return_data = #{returnData,jdbcType=VARCHAR},            
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},            
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime,jdbcType=TIMESTAMP},            
            </if>
            <if test="returnTime != null">
                return_time = #{returnTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from studentscore.operation_log where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>